Need additional information about proxy servers.

Hello.

Thank you for efforts.

I've got some issue.

My home internet provider (ISP) uses dualstack IPv4 + IPv6 and for some reason api.telegram.org only available only in IPv6.
I guess may be ISP used CGNAT and bots attacks Telegram using IPv4.

So I need to setup Squid (or other caching servers) and add environment variables to docker-compose file.

Some instruction for Debian/Ubuntu OSes.

```
sudo apt-get update
sudo apt-get -y install squid

cat<<EOF | sudo tee /etc/squid/squid.conf
acl localnet src 0.0.0.1-0.255.255.255  # RFC 1122 "this" network (LAN)
acl localnet src 10.0.0.0/8             # RFC 1918 local private network (LAN)
acl localnet src 100.64.0.0/10          # RFC 6598 shared address space (CGN)
acl localnet src 169.254.0.0/16         # RFC 3927 link-local (directly plugged) machines
acl localnet src 172.16.0.0/12          # RFC 1918 local private network (LAN)
acl localnet src 192.168.0.0/16         # RFC 1918 local private network (LAN)
acl localnet src fc00::/7               # RFC 4193 local private network range
acl localnet src fe80::/10              # RFC 4291 link-local (directly plugged) machines
acl SSL_ports port 443
acl Safe_ports port 80          # http
acl Safe_ports port 21          # ftp
acl Safe_ports port 443         # https
acl Safe_ports port 70          # gopher
acl Safe_ports port 210         # wais
acl Safe_ports port 1025-65535  # unregistered ports
acl Safe_ports port 280         # http-mgmt
acl Safe_ports port 488         # gss-http
acl Safe_ports port 591         # filemaker
acl Safe_ports port 777         # multiling http
acl allowed_domains dstdomain api.telegram.org .ubuntu.com .debian.org download.docker.com packages.cloud.google.com
http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports
http_access allow localhost manager
http_access deny manager
http_access allow localhost
http_access allow allowed_domains
include /etc/squid/conf.d/*.conf
http_access deny all
proxy_protocol_access allow localnet
http_port 3128
coredump_dir /var/spool/squid
refresh_pattern ^ftp:           1440    20%     10080
refresh_pattern ^gopher:        1440    0%      1440
refresh_pattern -i (/cgi-bin/|\?) 0     0%      0
refresh_pattern \/(Packages|Sources)(|\.bz2|\.gz|\.xz)$ 0 0% 0 refresh-ims
refresh_pattern \/Release(|\.gpg)$ 0 0% 0 refresh-ims
refresh_pattern \/InRelease$ 0 0% 0 refresh-ims
refresh_pattern \/(Translation-.*)(|\.bz2|\.gz|\.xz)$ 0 0% 0 refresh-ims
refresh_pattern .               0       20%     4320
EOF

sudo systemctl enable --now squid.service
sudo tail /var/log/squid/access.log
```

Add to docker compose file.
```yaml
---
version: '3'
networks:
  net:

services:
  redis:
    image: redis:7.2.3-alpine3.18
    networks: [net]
    restart: always
    command:
      - 'redis-server'
      - '--save 900 1'
      - '--save 300 10'
      - '--save 60 100'
    volumes:
      - /mnt/docker/redis/data:/data

  frigate-telegram:
    image: ghcr.io/oldtyt/frigate-telegram:amd64
    restart: always
    networks: [net]
    ports: 
      - 8080:8080
    environment:
      TELEGRAM_BOT_TOKEN: 1234567890:ABCDEFGHEFGREHBTYJBTRGBER34T54Y54
      FRIGATE_URL: http://192.168.0.254:5000
      FRIGATE_EVENT_LIMIT: 5
      DEBUG: False
      TELEGRAM_CHAT_ID: "0"
      SLEEP_TIME: 30
      FRIGATE_EXTERNAL_URL: https://frigate.domain.com
      TZ: Europe/Berlin
      REDIS_ADDR: "redis:6379"
      REST_API_ENABLE: False
      HTTP_PROXY: http://192.168.1.2:3128
      HTTPS_PROXY: http://192.168.1.2:3128
      NO_PROXY: "frigate,redis,localhost,127.0.0.1"
    volumes:
      - type: tmpfs # Optional
        target: /tmp
        tmpfs:
          size: 10000000
```




You right in case when you already setuped Docker in DualStack. To support IPv4 and IPv6 same time.
In my case, my docker engine support only IPv4.

Hello @Nurmukhamed!

I've added the proxy environment variables documentation to the README. See commit:
https://github.com/OldTyT/frigate-telegram/commit/76fed6abd0df55ecb75b71c57149e0e4b357d4e3

Thanks for the suggestion!